{% load static%}

<!DOCTYPE html>
<html>
<head>
    <style>
        #box {
				width: 200px;
				height: 200px;
				background-color: blue;
				display: none;
				position: relative; 
		}
    </style>
</head>

{% csrf_token %}

<body>
    <p id="printReactionTime"></p<>
    <p id="arrayofTime"></p>
    <p id = "jsonTest"></p>
    <div id="box"></div>
    
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
     <script src="{% static 'game/gamelogic.js' %}"></script>
</body>